#header {
    box-sizing: border-box;
    height: max-content;
    background-color: var(--color-blue-light);
    padding: 14px 24px 23px;

    .ant-breadcrumb .ant-breadcrumb-link span {
        letter-spacing: 0.5px;
    }
}

#headerContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 6px;
}

#headerTitle {
    margin: 6px 0 0 0;
    font-family: Inter, sans-serif;
    color: var(--color-text-dark);
    font-weight: 700;
    font-size: 39px;
    line-height: 1.25;
    letter-spacing: -0.57px;
}

@media (max-width: 834px) {
    #headerTitle {
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        letter-spacing: 0;
    }

}

@media (max-width: 360px) {
    #headerTitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        margin: 4px 0 0 0 ;
    }

    #header {
        padding: 14px 24px 21px;
    }

    #headerContent {
        margin: 0;
    }
}


